.sectionTransformTop {
position: relative;
}

body{
  font-family: Outfit;
}

.container{

  width: 100%;
padding-right: 80px;
padding-left: 80px;
margin-right: auto;
margin-left: auto;
}

.bookingTitle{
  font-weight: 400;
text-transform: uppercase;
}

.boxBooking{
    background-color: #fff; /* Set background color for better visibility */
  border-radius: 5px; /* Add rounded corners */
box-shadow: rgba(0, 0, 0, 0.1) 0px 44px 90px, rgba(0, 0, 0, 0.27) 0px 40px 50px;
  padding: 20px; /* Add padding for spacing */
  margin: 0 auto; /* Center the form horizontally */
  /*max-width: 500px; /* Set a maximum width to prevent excessive stretching */
  overflow: hidden;
  padding: 66px 40px;
}




.boxBooking::before {
  position: relative;
  content: '';
  top: 12%;
  right: 3.4%;
  bottom: -9%;
  left: 3.4%;
  background: rgba(0, 0, 0, 0.2);
  filter: blur(20px);
  border-radius: 7px;
  z-index: -1;
}

.rdForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}


.formRow {
  display: flex; /* Make label and input/select box appear side_by_side */
  width: 100%; /* Ensure form rows fill the available space */
  margin-bottom: 10px; /* Add spacing between form rows */
}






.bookingForm .formInput{
  padding: 6px 0;
  min-height: 40px;
  border-radius: 0;
  border-color: transparent transparent #C4C4C4 transparent;
}








.bookingTitle {
  flex: 0 0 20%; /* Fix label width to prevent stretching */
  margin-right: 10px; /* Add space between label and input */
  width: 24px;
  height: 24px;
}

.formWrap {
  flex: 1 1 80%; /* Allow input/select box to fill remaining space */
}

.formInput,
.select2_hidden_accessible {
  width: 100%; /* Make inputs and select box fill the available space within a row */
  padding: 10px;
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 3px; /* Rounded corners */
  font-size: 16px;
}

.buttonLg.buttonGray600 {
  background: transparent;
  font-size: 15px;
  color: rgb(117, 112, 112);
  border: 1px solid rgb(239, 177, 90);
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  height: 3em;
  width: 10em;
}

.buttonLg:hover {
  background-color: rgba(239, 177, 90);
}

.select2HiddenAccessible {
  background: transparent;
}
  @media (min-width: 1200px){
.boxBooking {
  padding: 66px 40px;
}}




.pop {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.8);

}


.exitButton{


color: rgb(117, 112, 112);
font-size: 13px;
text-align: center;
cursor: pointer;
text-decoration: none;
}
.close {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 80px;
  border: none;
  padding: 0;
  width: 2em; height: 2em;
  border-radius: 50%;
  background: transparent;
color: rgb(117, 112, 112);
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
  }
.close::focus {
    outline: solid 0 transparent;
    box-shadow: 0 0 0 2px #8ed0f9
  }
  
.close:hover{
    background: rgba(239, 177, 90);
  }
  
  .close::before, .close::after {
    position: absolute;
    top: 15%; left: calc(50% - .0625em);
    width: .125em; height: 70%;
    border-radius: .125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: ''
  }
  
  .close::after { transform: rotate(-45deg); }
.info{
  display: flex;
  flex-direction: row;
  width: 80%;

  margin: 30px 0px;
  border-radius: 10px;
  border: solid 1px;
  box-sizing: content-box;
  padding: 10px 20px;
}
.info > div{
    display: flex;
  flex-direction: row;
  width: 80%;
}
svg {
  width: 24px;
}