.table-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(62, 61, 61);
    transition: 0.3s;
    animation: fadeIn 1s;
    background: none;
}

.btnn{
    padding: 5px;
    border: none;
    background-color: rgb(52, 96, 231);
}
.table-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px  ;
}

.table-item-info{
    padding: 20px;
}



.table-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
}

.table-item-name-rating p{
    font-size: 20px;
    font-weight: 300;
    
}

.table-item-name-rating img{
    width: 70px;
    
}

.table-item-desc{
    color:  rgb(117, 112, 112);
    font-size: 10px;
}

.table-item-price{
    color: rgba(239, 177, 90);
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0px;

}

.table-item-img-container{
    position: relative;
    height: 300px;


}

.table-item-img-container .add{
    width: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.table-item-counter{
    position: absolute;
    bottom: 10px;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.table-item-counter img{
    width: 20px;
}